<header class="blog-header">
    <h1><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
    <p>{% if SITESUBTITLE %}{{ SITESUBTITLE }}{% endif %}</p>
    <nav>
        <a href="{{ SITEURL }}/{% if ARCHIVES_URL %}{{ ARCHIVES_URL }}{% else %}archives{% endif %}">ARCHIVES</a>
        <a href="{{ SITEURL }}/{% if CATEGORIES_URL %}{{ CATEGORIES_URL }}{% else %}categories{% endif %}">CATEGORIES</a>
        <a href="{{ SITEURL }}/{% if TAGS_URL %}{{ TAGS_URL }}{% else %}tags{% endif %}">TAGS</a>
    </nav>
</header>
